/* WORDPRESS GUTENBERG EDITOR */

.editor-visual-editor__post-title-wrapper.edit-post-visual-editor__post-title-wrapper {
    margin-top: 2rem !important;
}

.wp-block-post-title {
    font-size: 1rem !important;
    margin-bottom: 14px !important;
    color: rgba( 0, 0, 0, 0.5 ) !important;
}

:where(.editor-styles-wrapper) p {
    line-height: 1.5 !important;
}

/* EXCELSIOR BOOTSTRAP EDITOR
   BUTTON */

.wp-block-excelsior-bootstrap-editor-button {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

/* EXCELSIOR BOOTSTRAP EDITOR
   IMAGE BANNER BLOCK */

.excelsior-image-error {
    border: 1px dashed #ccc;
    padding: 10px;
}

.excelsior-image-url-insert {
    border: 1px dashed #ccc;
    padding: 10px;
}

/* EXCELSIOR BOOTSTRAP EDITOR
   IFRAME EMBED */

.excelsior-iframe-embed-insert {
    border: 1px dashed #ccc;
    padding: 10px;
    margin-bottom: 1rem;
}

.homepage-content .wp-block-excelsior-bootstrap-editor-iframe-embed {
    margin-top: 0 !important;
}

/* EXCELSIOR BOOTSTRAP EDITOR
   START HERE BANNER */

.wp-block-excelsior-bootstrap-editor-start-here-banner {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

/* EXCELSIOR BOOTSTRAP EDITOR
   CALLOUT */

.wp-block-excelsior-bootstrap-editor-callout > .block-editor-inner-blocks > .block-editor-block-list__layout > *:nth-last-child(2) {
    margin-bottom: 0 !important;
}

/* EXCELSIOR BOOTSTRAP EDITOR
   TIP BOX */

.wp-block-excelsior-bootstrap-editor-tipbox > .block-editor-inner-blocks > .block-editor-block-list__layout > *:nth-last-child(2) {
    margin-bottom: 0 !important;
}

/* EXCELSIOR BOOTSTRAP EDITOR
   COLUMNS */
.wp-block-excelsior-bootstrap-editor-columns .col {
    margin-bottom: 0 !important;
    margin-left: unset !important;
    margin-right: unset !important;
}

.wp-block-excelsior-bootstrap-editor-columns > .block-editor-inner-blocks > .block-editor-block-list__layout > .block-list-appender {
    width: fit-content !important;
    margin-top: unset !important;
    display: flex;
    justify-content: end;
}

.wp-block-excelsior-bootstrap-editor-columns > .block-editor-inner-blocks > .block-editor-block-list__layout > .block-list-appender > .block-editor-default-block-appender {
    margin-left: unset !important;
    margin-right: unset !important;
}

/* EXCELSIOR BOOTSTRAP EDITOR
   CARDS */
   .wp-block-excelsior-bootstrap-editor-cards .col {
    margin-bottom: 0 !important;
    margin-left: unset !important;
    margin-right: unset !important;
}

.wp-block-excelsior-bootstrap-editor-cards > .block-editor-inner-blocks > .block-editor-block-list__layout > .block-list-appender {
    width: fit-content !important;
    margin-top: unset !important;
    display: flex;
    justify-content: end;
}

.wp-block-excelsior-bootstrap-editor-cards > .block-editor-inner-blocks > .block-editor-block-list__layout > .block-list-appender > .block-editor-default-block-appender {
    margin-left: unset !important;
    margin-right: unset !important;
}

/* EXCELSIOR BOOTSTRAP EDITOR
   CARD */

.wp-block-excelsior-bootstrap-editor-card .card {
    margin-top: 0 !important;
    padding: 0 !important;
}

.wp-block-excelsior-bootstrap-editor-card .card > .block-editor-inner-blocks > .block-editor-block-list__layout > *:nth-last-child(2) {
    margin-bottom: 0 !important;
}

/* EXCELSIOR BOOTSTRAP EDITOR
   COLUMN */

.wp-block-excelsior-bootstrap-editor-card .card-body > .block-editor-inner-blocks > .block-editor-block-list__layout > *:nth-last-child(2) {
    margin-bottom: 0 !important;
}

/* BOOTSTRAP ICON ADJUSTMENTS */

i.bi {
    position: relative;
    display: inline-block;
    text-align: center;
    width: 1em;
    height: 1em;
    vertical-align: text-top;
}

i.bi::before {
    display: block;
    width: 1rem;
    height: 1rem;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
}
