{
    "presets": [
        "@babel/preset-env",
        "@babel/preset-react"
    ],
    "plugins": [
        ["prismjs", {
            "languages": ["javascript", "css", "c", "clike", "csharp", "cpp", "markup", "java", "python", "r"],
            "plugins": ["line-numbers", "normalize-whitespace", "keep-markup"],
            "theme": "okaidia",
            "css": false
        }]
    ]
}