/* WORDPRESS GUTENBERG EDITOR */

.editor-visual-editor__post-title-wrapper.edit-post-visual-editor__post-title-wrapper {
    margin-top: 2rem !important;
}

.components-button.editor-post-save-draft,
.components-button[aria-label="Save draft"] {
    display: none !important;
}

.wp-block-post-title {
    font-size: 1rem !important;
    margin-bottom: 14px !important;
    color: rgba( 0, 0, 0, 0.5 ) !important;
}
.wp-block-post-title span[data-rich-text-placeholder] {
    color: #dc3545 !important;
    font-weight: normal !important;
}

:where(.editor-styles-wrapper) p {
    line-height: 1.5 !important;
}

.typography-block-support-panel {
    display: none !important;
}

.block-editor-block-list__block .wp-block-list-item {
    line-height: 1.5 !important;
}

.block-editor-bindings__panel {
    display: none !important;
}